@model IEnumerable<MVCApp.Models.UploadModel>

@{
    ViewBag.Title = "ReadData";
}

<h2>ReadData</h2>

<p>
    @Html.ActionLink("Create New", "UploadPage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MimeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a id='download @item.Id' data-mime="@item.MimeType">@Html.DisplayFor(modelItem => item.FileName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MimeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
                @Html.ActionLink("Delete Item", "DeleteData", new { id = item.Id })
            </td>
        </tr>
    }

</table>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[id*="download"]').click(function () {

                var htmlContent = $(this).html();
                var mime = $(this).attr("data-mime");

                $.ajax({
                    type: 'GET',
                    url: '/Home/Download/' + $(this).attr('id').substring(9),
                    success: function (result) {
                        /*var bytes = new Uint16Array(result.length)

                        for (var i = 0; i < bytes.length; i++)
                            bytes[i] = result.charCodeAt(i);

                        var arBuf = bytes.buffer;

                        var blob = new Blob([arBuf], {type: mime});
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = htmlContent;
                        link.click();*/
                    }
                });
            });

        })
    </script>
}