@model IEnumerable<MVCApp.Models.UploadModel>

@{
    ViewBag.Title = "ReadData";
    string base64 = Model.First().Base64String;
    string mime = Model.First().MimeType;
}

<h2>ReadData</h2>

<p>
    @Html.ActionLink("Create New", "UploadPage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MimeType)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a id='download @item.Id'>@Html.DisplayFor(modelItem => item.FileName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MimeType)
            </td>
        </tr>
    }

</table>


@section Scripts{
    <script type="text/javascript">
        console.log('@mime')
        console.log('@base64')
        $(document).ready(function () {
            $('[id*="download"]').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Home/Download',
                    data: { base64Str: '@base64', mimeType: '@mime'},
                    success: function (result) {
                        alert(result);
                    }
                });
            });
        })
    </script>
}