@model IEnumerable<MVCApp.Models.UploadModel>

@{
    ViewBag.Title = "ReadData";
}

<h2>ReadData</h2>

<p>
    @Html.ActionLink("Create New", "UploadPage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MimeType)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a id='download @item.Id'>@Html.DisplayFor(modelItem => item.FileName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MimeType)
            </td>
        </tr>
    }

</table>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[id*="download"]').click(function () {

                var htmlContent = $(this).html();

                $.ajax({
                    type: 'GET',
                    url: '/Home/Download/' + $(this).attr('id').substring(9),
                    success: function (result) {
                        var blob = new Blob([result]);
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = htmlContent;
                        link.click();
                    }
                });
            });
        })
    </script>
}